<!DOCTYPE html!>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
	<th:block th:insert="~{base  :: header(title = 'текст')}" />
	<body th:insert="~{base :: body(content=~{::content})}">
		<main class = "container p-3" th:fragment="content">
			<form method="post">
				<div class="mb-3">
  					<label for="firstName" class="form-label" th:text="#{order.firstName}">First name</label>
  					<input type="text" class="form-control" id="firstName" name="firstName" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="secondName" class="form-label" th:text="#{order.secondName}">Second name</label>
  					<input type="text" class="form-control" id="secondName" name="secondName" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="surname" class="form-label" th:text="#{order.surName}">Third name</label>
  					<input type="text" class="form-control" id="surname" name="surname" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="fullName" class="form-label" th:text="#{order.fullName}">Full name</label>
  					<input type="text" class="form-control" id="fullName" name="fullName" placeholder="">
  				</div>
				<div class="mb-3">
  					<label for="tel" class="form-label" th:text="#{order.firstNumber}">First phone number</label>
  					<input type="text" class="form-control" id="tel" name="tel" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="secondTel" class="form-label" th:text="#{order.secondNumber}">Second phone number</label>
  					<input type="text" class="form-control" id="secondTel" name="secondTel" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="email" class="form-label" th:text="#{order.email}">Email</label>
  					<input type="text" class="form-control" id="email" name="email" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="adress1" class="form-label" th:text="#{order.firsAddress}">Address 1</label>
  					<input type="text" class="form-control" id="adress1" name="adress1" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="adress2" class="form-label" th:text="#{order.secondAddress}">Address 2</label>
  					<input type="text" class="form-control" id="adress2" name="adress2" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="city" class="form-label" th:text="#{order.city}">City</label>
  					<input type="text" class="form-control" id="city" name="city" placeholder="">
				</div>
				<div class="mb-3">
  					<label for="country" class="form-label" th:text="#{order.country}">Country</label>
  					<input type="text" class="form-control" id="country" name="country" placeholder="">
				</div>
				<button type="submit" class="btn btn-dark" th:text="#{item.submit}">Створити</button>
			</form>
		</main>
	</body>
</html>