<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.utraq.net.nzthymeleaf/layout">
	<head th:fragment = "header(title)">
		<title th:text = ${title}></title>
		<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel = "stylesheet"/>
		<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	</head>
	<th:block th:insert="~{base :: header(title)}" />
	<body th:insert="~{base :: body(content=~{::content})}">
		<main class="container" th:fragment="content">
			<form method="post"><input type="hidden" name="_method" value="put">
				<div class="mb-3">
					<label for="label" class="form-label" th:text="#{item.label}">Назва</label>
					<input th:value="${status.label}" type = "text" name = "label" id="label">
					<button type="submit" class="btn btn-dark" th:text="#{item.change}">Змінити</button>
				</div>
			</form>
		</main>
	</body>
</html>