<!DOCTYPE html!>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.utraq.net.nzthymeleaf/layout">
	<th:block th:insert="~{base  :: header(title = 'текст')}" />
	<body th:insert="~{base :: body(content=~{::content})}">>
		<main style="border:1px solid;" class="container" th:fragment="content">
			<div th:each = "status : ${statuses}">
				<div class="container text-center">
					<div class="row row-cols-3">
					  	<div class="col">
					  		<label for="label" class="form-label" th:text="#{item.label}">Назва</label>
					  	</div>
					</div>
				</div>
				<div class="container text-center">
					<div class="row row-cols-3">
					  	<div class="col">
							<a th:href = "@{/status/edit(id = ${status.id})}"><span th:text = "${status.label}"></span></a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>